<footer>
    <div id="contacts-container" class="ui bottom text container">
        <div class="ui divider">
        </div>
        <div class="ui four centered grid container">
            <div class="column">
                <a href="https://github.com/unrealwork" target="_blank"><i class="icon big github"></i></a>
            </div>
            <div class="column">
                <a href="https://www.facebook.com/shmagrinskiy" target="_blank"><i
                        class="icon big facebook"></i></a>
            </div>
            <div class="column">
                <a href="https://plus.google.com/104798243288562329738" target="_blank"><i
                        class="icon big google plus"></i></a>
            </div>
            <div class="column">
                <a href="https://twitter.com/Shmagrinskiy" target="_blank"><i
                        class="icon big twitter"></i></a>
            </div>
        </div>
    </div>
</footer>
