.btn-toolbar {
    margin-top: 0;
    margin-bottom: 0;
}
.menu {
    margin-top: -15px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-bottom: solid 1px #C3C3C3;
}
.menu > .menu__logo, .menu > .menu__navigation, .menu > .menu__user-controls {
    display: inline-block;
    vertical-align: middle;
}
.menu__user-controls {
    float: right;
}
.menu__navigation {
    margin-left: 50px;
}
.menu__navigation .btn {
    background-image: none;
    background-color: white;
    text-shadow: none;
    font-size: 13px;
}
.menu__navigation .btn:hover {
    background-color: #CCC;
    color: white;
}
.menu__navigation .btn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.menu__navigation .btn.active {
    background-image: none;
    background-color: #267949;
    color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.menu .btn-group.open .btn.dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.menu .btn-group.open .btn.dropdown-toggle.active {
    background-color: #267949;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li.active > a:focus {
    background-color: #267949;
    background-image: none;
    filter: none;
}


.msg {
    float: left;
    margin-left: 15px;
    margin-top: 5px;
    z-index: -1;

}
.navbar {
    border-bottom: 1px solid #CCCCCC;
    height: 35px;
    padding-top: 2px;
    min-width: 250px;
}
body {
    background: white;
}
.navbar .nav > li > a {
    color: black;
    text-shadow: none;
}
.navbar .nav > li > a:hover {
    background-color: #ccc;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #08C !important;
}
.navbar .nav > li > .active > a:hover {
    background-color: #08C !important;
}
.navbar .nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar .brand {
    padding-top: 4px;
    padding-right: 20px;
    padding-left: 5px;
}
.navbar .btn-group {
    padding-top: 2px;
}
.filler {
    display: none;
}
.list {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 200px;
    right: 101px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 35px;

}
.list ul{
    width: 100%;
    position: relative !important;
    left: 0 !important;
}

.nav.nav-pills li a{
    white-space: nowrap;
}
div.btn-group {
    right: 0px;
}
div.container-fluid {
    padding-right: 0px;

}
a {
    outline: 0 none !important;
}

table {
    max-width: none;
    width: auto !important;
}

input[type=text], input[type=password] {
    margin-bottom: 0;
    width: 400px;
    font-family: consolas, sans-serif;
    font-size: 12px;
    color: black;
}

#jobTableLeft input[type=text],
#jobTableLeft input[type=password],
#configTableLeft input[type=text],
#configTableLeft input[type=password],
#configTableRight input[type=text],
#configTableRight input[type=password] {
    display: inline-block;
}

span.error {
    display:block;
}

.sibling-with-ph:first-child>input, .sibling-with-ph-select:first-child>select {
    margin-left:0;
}

.sibling-with-ph-select>select {
    width:204px;
    margin-left:10px;
}

.sibling-with-ph>input, .sibling-with-ph-select>input {
    width:190px;
    height:20px;
    margin-left:6px;
}

.cell {
    display: table-cell !important;
}

.sibling-with-ph>.switch-enabled, .sibling-with-ph-select>.switch-enabled {
    width:265px;
}

.sibling-with-ph>.switch-disabled {
    width:115px;
}

.sibling-with-ph-select>.switch-disabled {
    width:129px;
}

input[type=number]{
    margin-bottom: 0;
    width: 80px;
    font-family: consolas, sans-serif;
    font-size: 12px;
    color: black;
}

textarea {
    margin-bottom: 0;
    width: 400px;
    height: 75px;
    font-family: consolas, sans-serif;
    font-size: 12px;
    color: black;
}

select {
    margin-bottom: 0;
}

input[type=checkbox]{
    margin: 6px 0px 6px 3px;
}

.table td {
    vertical-align: middle;
    white-space: nowrap;
}

.table-align-rows-v td {
    height: 30px;
}

.table td label {
    display: inline-block;
}
.table td label input {
    display: inline-block;
}

.table td div.checkboxes {
	display: table;
	width: 400px;
	max-width: 400px;
}

.table td div div.checkbox {
	display: inherit;
	width: 160px;
	margin-left: 0;
}

.table td div.checkboxes div label,
.table td ul.checkboxes li label {
	width: 160px;
	vertical-align: middle;
	margin-bottom: 0;
	margin-left: 5px;
	line-height: normal;
}

.nav-pills>li>a {
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.nav.nav-pills li a {
    font-size: 13px;
}

.error {
    color: red;
}

.hint {
    color: grey;
}

.table-condensed th, .table-condensed td {
    padding: 2px 4px 2px 4px;
    font-size: 12px;
}

.tree li {
    margin: 0px 0;
	
	list-style-type: none;
    position: relative;
	padding: 20px 5px 0px 5px;
}

.tree li::before{
    content: '';
	position: absolute; 
    top: 0;
	width: 1px; 
    height: 100%;
	right: auto; 
    left: -20px;
	border-left: 1px solid #ccc;
    bottom: 50px;
}
.tree li::after{
    content: '';
	position: absolute; 
    top: 23px; 
	width: 25px; 
    height: 20px;
	right: auto; 
    left: -20px;
	border-top: 1px solid #ccc;
}
.tree li button{
    display: inline-block;
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: consolas,sans-serif;
    font-size: 12px;
    border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    margin-top: -15px;
}

.tree li table {
	margin: 8px 0px 0px 10px;
	font-family: consolas,sans-serif;
    font-size: 12px;
}

.tree li table td {
    padding: 0px 3px 0px 3px;
}

/*Remove connectors before root*/
.tree > ul > li::before, .tree > ul > li::after{
	border: 0;
}
/*Remove connectors after last child*/
.tree li:last-child::before{ 
      height: 23px;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li button:hover, .tree li button:hover+ul li button {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li button:hover+ul li::after, 
.tree li button:hover+ul li::before, 
.tree li button:hover+ul::before, 
.tree li button:hover+ul ul::before{
	border-color:  #94a0b4;
}

div[class=tree] table{
    width: 98% !important;
}

h3 div.filters {
	display: inline-block;
	margin-left: 100px;
	height: 40px;
}

.filters>.btn-group>.btn-sm:not([value=""]) {
    background-color: #e6e6e6;
    font-weight: bold;
}

h3 div .btn-group button {
	width: 110px;
}

.btn-dropdown-menu {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn-dropdown-menu.active.focus,
.btn-dropdown-menu.active:focus,
.btn-dropdown-menu.focus,
.btn-dropdown-menu:active.focus,
.btn-dropdown-menu:active:focus,
.btn-dropdown-menu:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}
.btn-dropdown-menu.focus,
.btn-dropdown-menu:focus,
.btn-dropdown-menu:hover {
    color: #333;
    text-decoration: none
}
.btn-dropdown-menu.active,
.btn-dropdown-menu:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}
.btn-dropdown-menu.disabled,
.btn-dropdown-menu[disabled],
fieldset[disabled] .btn-dropdown-menu {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65
}

.btn-dropdown-menu-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}
.btn-dropdown-menu-default.focus,
.btn-dropdown-menu-default:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c
}
.btn-dropdown-menu-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}
.btn-dropdown-menu-default.active,
.btn-dropdown-menu-default:active,
.open>.dropdown-toggle.btn-dropdown-menu-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}
.btn-dropdown-menu-default.active.focus,
.btn-dropdown-menu-default.active:focus,
.btn-dropdown-menu-default.active:hover,
.btn-dropdown-menu-default:active.focus,
.btn-dropdown-menu-default:active:focus,
.btn-dropdown-menu-default:active:hover,
.open>.dropdown-toggle.btn-dropdown-menu-default.focus,
.open>.dropdown-toggle.btn-dropdown-menu-default:focus,
.open>.dropdown-toggle.btn-dropdown-menu-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c
}
.btn-dropdown-menu-default.active,
.btn-dropdown-menu-default:active,
.open>.dropdown-toggle.btn-dropdown-menu-default {
    background-image: none
}
.btn-dropdown-menu-default.disabled.focus,
.btn-dropdown-menu-default.disabled:focus,
.btn-dropdown-menu-default.disabled:hover,
.btn-dropdown-menu-default[disabled].focus,
.btn-dropdown-menu-default[disabled]:focus,
.btn-dropdown-menu-default[disabled]:hover,
fieldset[disabled] .btn-dropdown-menu-default.focus,
fieldset[disabled] .btn-dropdown-menu-default:focus,
fieldset[disabled] .btn-dropdown-menu-default:hover {
    background-color: #fff;
    border-color: #ccc
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 3px;
}

.caret_sm {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: baseline;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-bottom: 2px;
}

.radio-inline input[type="radio"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: 3px;
  margin-left: -20px;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

label.radio-inline {
  margin-right: 10px;
}

.sql-editor {
    padding: 4px;
    height: auto;
}

.sql-error {
    box-sizing: border-box;
    width: 1254px;
}

.jdbc-error {
    width: 1181px;
}

input.sql-editor,
textarea.sql-editor,
.CodeMirror {
    box-sizing: border-box;
    min-height: 80px;
    width: 1202px;
    border: rgb(204, 204, 204) 1px solid;
    border-radius: 4px;
    cursor: text;
    font-family: Consolas, monospace;
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
    cursor:default;
}

/* highlight */
.x-atsd .cm-property,
.CodeMirror-line .cm-property {
	color: #05a;
}
.x-atsd .cm-attribute,
.CodeMirror-line .cm-attribute {
	color: #085;
}
.x-atsd .cm-keyword,
.CodeMirror-line .cm-keyword {
	color: #708;
}
.x-atsd .cm-string,
.CodeMirror-line .cm-string {
	color: #085;
}
.x-atsd .cm-meta,
.CodeMirror-line .cm-meta {
	color: #555;
}

.x-atsd,
.x-url,
.x-xml,
.x-json {
    background-color: #eee;
    overflow: auto;
    margin: 0;
    padding: 4px 6px;
    word-break: normal;
    box-sizing: content-box;
    resize: both;
}
.x-atsd > span,
.x-url > span,
.x-xml > span,
.x-json > span {
    font-size: 12px;
    font-family: Consolas, monospace;
}

.sql-editor:focus,
.CodeMirror-focused,
.CodeMirror:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: none;
}

#configTableRight > tbody > tr > td:first-child,
#configTableRight2 > tbody > tr > td:first-child {
    min-width:140px;
}

.popover-content > p {
    white-space: normal;
}

.dropdown-menu > .ui-menu-item > .ui-state-hover {
    border: none;
}

 .dropdown-menu > .ui-menu-item > .ui-corner-all {
     border-radius: 0;
     cursor: pointer;
 }

table a,
table a:hover,
 .popup-marker:visited {
     color: #007ACC;
 }

.dropdown-suggestion {
    display: block;
    top:32px;
    left:4px;
    opacity:0;
    visibility: hidden;
    transition: all .3s ease .15s;
}

#cronExpression:focus + .dropdown-suggestion {
    opacity:1;
    visibility: visible;
}

.inline-table {
    display: inline-table;
    width: 500px;
    margin-right: 20px;
}

.table-dockerinfo > tbody > tr > td:first-child {
    min-width: 62px;
}

select#connectionPoolConfig, #entitySet, #entityLookup, .table-dropdown {
    width: 328px;
}

.cut-with-dots {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width:128ch;
}

textarea#source, #collection-items textarea {
    height: 500px;
    min-width: 500px;
}

form .btn, .control-buttons .btn {
    margin-right:5px;
}

form .btn:last-child, .control-buttons .btn:last-child {
    margin-right:0;
}

form .btn.green-shadow {
    outline: 5px auto #0da70d;
    outline-offset: -2px;
}

form a[title="Refresh"].btn,
form a[title="Add"].btn,
form a[title="View"].btn {
	margin-right:0;
}

.aligner {
    width: 592px;
}

.aligner .table td input[type=text],
.aligner .table td input[type=password],
.aligner .table td textarea {
    width: 408px;
}

.table .col-numeric {
    text-align: right;
}

.table .col-center {
    text-align: center;
}

.td-aligned td:first-child {
    width: 150px;
    min-width: 150px;
}

th.table-header {
    padding: 6px;
    font-size: 14px;
}

pre.pre-xy-scrollable {
    overflow: auto;
    -ms-word-wrap: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
    max-height: 350px;
    max-width: 1300px;
}

input.pseudo-disabled, select.pseudo-disabled {
    background-color: #eee;
}

div.popover {
	white-space: normal;
	min-width: 500px;
	font-weight: normal;
    color: black;
}

ul.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

td.required {
	font-weight: bold;
}

span.required {
    position: absolute;
    margin-left: -12px;
    margin-top: 8px;
    color: red;
    font-size: 15px;
}

span.required-select {
    margin-left: -20px;
}

.icon-clone {
    background-image: url("../img/icon_clone.png");
    background-position: 0      0;
}

caption {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    padding-bottom: 6px;
    padding-right: 16px;
    white-space: nowrap;
}

select {
    font-size: 12px;
}

td.errorMessageColumn {
    vertical-align: middle;
    white-space: normal;
    max-width: 300px;
}

/*Panels from BS 3*/
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
    padding: 15px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: inherit;
}
.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
    margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
    border-top: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.list-group + .panel-footer {
    border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
    margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
    padding-left: 15px;
    padding-right: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
    border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
    border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
    border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
    border-bottom: 0;
}
.panel > .table-responsive {
    border: 0;
    margin-bottom: 0;
}
.panel-group {
    margin-bottom: 20px;
}
.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
}
.panel-group .panel + .panel {
    margin-top: 5px;
}
.panel-group .panel-heading {
    border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
    border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #ddd;
}
.panel-default {
    border-color: #ddd;
}
.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}
.panel-primary {
    border-color: #337ab7;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
    color: #337ab7;
    background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #337ab7;
}
.panel-success {
    border-color: #d6e9c6;
}
.panel-success > .panel-heading {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #d6e9c6;
}
.panel-success > .panel-heading .badge {
    color: #dff0d8;
    background-color: #3c763d;
}
.panel-success > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #d6e9c6;
}
.panel-info {
    border-color: #bce8f1;
}
.panel-info > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #bce8f1;
}
.panel-info > .panel-heading .badge {
    color: #d9edf7;
    background-color: #31708f;
}
.panel-info > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #bce8f1;
}
.panel-warning {
    border-color: #faebcc;
}
.panel-warning > .panel-heading {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #faebcc;
}
.panel-warning > .panel-heading .badge {
    color: #fcf8e3;
    background-color: #8a6d3b;
}
.panel-warning > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #faebcc;
}
.panel-danger {
    border-color: #ebccd1;
}
.panel-danger > .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ebccd1;
}
.panel-danger > .panel-heading .badge {
    color: #f2dede;
    background-color: #a94442;
}
.panel-danger > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ebccd1;
}

.nowrap {
    white-space: nowrap;
}

.infoIcon {
    vertical-align: middle;
    float: right;
    display: inline-block;
    opacity: 0.25;
}

.infoIcon:hover {
    opacity: 1;
}