.tablesorter-default thead .tablesorter-headerAsc div::after {
	display:inline-block;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 7px solid #3366cc;
	margin-left: 1px;
	content: " ";
}

.tablesorter-default thead .tablesorter-headerDesc div::after {
	display:inline-block;
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 7px solid #3366cc;
	margin-left: 1px;
	content: " ";
}